@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './sidebar.header.css';
@import './sidebar.search.css';
@import './sidebar.contacts.css';

body,
html {
  color: #020202;
  height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
  width: 6px !important;
  height: 6px !important;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}
*::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.08);
}

a {
  text-decoration: none;
}

.container {
  padding: 0 15px;
}

.row {
	width: 100%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.sidebar-nav {
  float: left;
  width: 410px;
}

.rooms {
  float: left;
  width: calc(100% - 410px);
}
